/Window_adjuster/Release
/Window_adjuster/WA_Hook/x64/Release
/Window_adjuster/*.opensdf
/Window_adjuster/*.sdf
/Window_adjuster/x64/Release
/Window_adjuster/*.suo
/bin_x64_Release
/Window_adjuster/Debug
/Window_adjuster/WA_Hook/x64/Debug
/Window_adjuster/ipch
/Window_adjuster/x64/Debug
/bin_x64_Debug
*.BAK
/doxygen.log
/html
